
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #F4ECF7;
}

.quem-somos {
    background-color: #EAECEE;
    color: #672176;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #F4ECF7;
}

#servicos{
    background-color: #EAECEE;
    color: #672176;
}

.bg-footer{
    background-color: #454545;
}

#footer{
    color: #F4ECF7;
}